# Example application.properties file, replace with your correct values

spring.application.name=Pharmacy-Manager

# Database - Postresql
spring.datasource.url=jdbc:postgresql://localhost:5432/pharmaconnect
spring.datasource.username=user
spring.datasource.password=password
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.generate-ddl=true